.background_mars > div:nth-child(1){
  position: absolute;
  height: 100%; 
  width: 100%;
  top: 0px; 
  /* background: rgba(10,10,10, .2); */
  background: linear-gradient(to bottom, rgba(10,10,10, .5) 0%, rgba(10,10,10, .1) 50%, rgba(10,10,10, .5) 100%);
  z-index: -1;  
}

.background_mars > div:nth-child(2) {
  background-image: url('../act/image/mars.jpg') ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
      /* background-color: #999; */
   position: absolute;
  /*height: 100vmax; */
  height: 100%; 
  width: 100%;
  top: 0px;
  z-index: -2;    
}