.concent_apod{
  padding: 0 30px 0 30px;
}

.img_apod{
  justify-content: center;
  display: flex;
  width: 50%;
  /* width: 49%; */
  min-height: 450px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.article_apod{
  display: flex;
  width: 50%;
  flex-direction: column;
}

.paragraph_article{
  padding: 0px 10px 0px 15px;
}

.paragraph_article > p {
  background: linear-gradient(to right, 
  rgba(48, 47, 47, 0.1) 0%, 
  rgba(70, 70, 70, 0.3) 10%, 
  rgba(48, 47, 47, 0) 100%);
}

.title_article{
  background: linear-gradient(to right, 
 rgba(48, 47, 47, 0) 0%, 
 rgba(70, 70, 70, 0.2) 2%, 
 rgba(48, 47, 47, 0) 50%);
 padding: 10px 0 10px 15px;
 /* height: 20px; */
 width: 100%;
}

.border{
  box-shadow: 0px 0px 31px 0px rgba(255,255,255,.1);
  -webkit-box-shadow: 0px 0px 47px 4px rgba(255,255,255,.1);
    -moz-box-shadow: 0px 0px 47px 4px rgba(255,255,255,.1);
    background-color: rgba(27, 27, 27, 0.712);
    background-repeat: no-repeat;
}

.choice_date {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 10px 0px 15px;
  /* background: linear-gradient(to right, 
 rgba(48, 47, 47, 0) 0%, 
 rgba(70, 70, 70, 0.2) 2%, 
 rgba(48, 47, 47, 0) 50%); */
}

.dataPickerAPOD > div {
  width: 160px !important;
  cursor: pointer !important;
}

.dataPickerAPOD  > div:hover > div{
    color: rgba(0, 123, 167, 1) !important;
    transition: all ease 0.5s;
}

.dataPickerAPOD > div > div {
  color: rgb(224, 224, 224) !important;
}

.dataPickerAPOD  > div:hover > input{
  color: rgba(0, 123, 167, 1) !important;
  transition: all ease 0.5s;
}

.dataPickerAPOD > div > input {
  color: rgb(224, 224, 224) !important;
}

.datePicker {
  position: relative;
  width: 180px;
}

.add_icon{
 position: absolute;
 top: 14px;
 left: 133px;
 color: rgb(224, 224, 224) !important;
 z-index: -1;
}

.controleChoiceDate{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row_btn_controle_APOD {
  display: flex;
  width: 150px;
  justify-content: space-between;
  position: relative;
}

.label_controle_APOD {
  top: -20px;
  color: darkgray;
  position: absolute;
}

.btn_controle_APOD {
  font-size: 14px !important;
  padding: 8px 17px !important;
}

.gallery_apod {
  width: 100%;
  margin-top: 15px;
  /* border: 1px solid red; */
}

.cart_gallery {
  /* border: 1px solid rgba(0, 123, 167, 1); */
  padding: 5px;
  width: 25%;
  position: relative;
  color: lightgray;
}

.cart_gallery:hover .hover {
  background-color: rgba(220,220,220,.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.img_apod_gallery {
  height: 140px;
  width: 100%;
  margin-top: 4px;
}


@media (max-width: 885px) {
  .choice_date{
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .img_apod {
    width: 100%;
  }
  .article_apod {
    width: 100%;
  }
} 

@media (max-width: 413px) {
  .img_apod {
    min-height: 230px;
  }

  .controleChoiceDate{
    flex-wrap: wrap;
  }
  .datePicker{
    width: 100%;
  }
  .row_btn_controle_APOD {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 37px;
    width: 166px;
  }
}
