@font-face {
  font-family: "Poppins-Light";
  src: url("../src/act/font/Poppins/Poppins-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/act/font/Poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: 'Poppins-Light', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Poppins-Regular', sans-serif
}

.content {
  margin: auto 2%;
}
.row {
  display: flex;
}