@font-face {
  font-family: "Roboto-Light";
  src: url("../src/act/font/Roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/act/font/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: 'Roboto-Light', sans-serif;
  margin: 0;
  padding: 0;
}

.red {
  border: 1px solid red;
}

.content {
  margin: auto 2%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}